<nav aria-label="breadcrumb" class="my-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ site.baseurl }}/"><i class="bi bi-house"></i></a>
    </li>

    {% if page.url contains '/games/' %}
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/games/">Games</a>
      </li>
      {% if page.game %}
        <li class="breadcrumb-item active">{{ page.game.title }}</li>
      {% endif %}
    {% elsif page.url contains '/categories/' %}
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/categories/">Categories</a>
      </li>
      {% if page.category %}
        <li class="breadcrumb-item active">{{ page.category }}</li>
      {% endif %}
    {% elsif page.url contains '/guides/' %}
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/guides/">Guides</a>
      </li>
      {% if page.title %}
        <li class="breadcrumb-item active">{{ page.title }}</li>
      {% endif %}
    {% else %}
      {% if page.title %}
        <li class="breadcrumb-item active">{{ page.title }}</li>
      {% endif %}
    {% endif %}
  </ol>
</nav>
